/* IMPORT */   
@import url("typography.css");


/* ==========================================================================
   Author's custom styles
   ========================================================================== */
   
/* Global
********************************/   
body {
    padding-top: 80px;
}


/* Link */
a {
    color: #0088CC;
    text-decoration: none;
    cursor:pointer;
    }
    a:hover, a:focus {
        color: #005580;
        text-decoration: none !important;
	    }
        /* Remove Firefox selection dot */
        a, a:focus, a:active, a:hover, object, embed { outline: none; }
        :-moz-any-link:focus { outline: none; }
        input::-moz-focus-inner { border: 0; }
        :focus { outline: 0; }
	

p.space {
    margin: 40px 0;
    border-top: 1px solid #eee;
}



/* Animation
********************************/  

/* Normal Fade Animation */
.animation {
  -webkit-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
   	 -moz-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
      -ms-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
       -o-transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);
          transition: all 300ms cubic-bezier(0.485, 0.000, 0.250, 1.000);

		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
	}


/* Fast  Fade Animation */
.animation-fast { 
  -webkit-transition: all 200ms ease;
	 -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	   -o-transition: all 200ms ease;
	      transition: all 200ms ease; 
	
		 /* -webkit-transform: translate3d(0, 0, 0); Webkit Hardware Acceleration*/ 
	     -webkit-backface-visibility: hidden; /* Safari Flicker Fix #2 */
	     -webkit-transform: translateZ(0);
	}






/* Logo
********************************/

.site-title { margin: 0; }
.navbar .brand {
    color: #b9c3ce;
    font-size: 32px;font-size: 2rem;
    font-weight: bold;
    padding: 8px 20px;
    text-shadow: none;
    width: 240px;
    margin-top: 6px;
}




/* Nav Menu
********************************/

/* Nav */
@media (min-width:980px) {
    .nav-collapse {
        float: right;
    }
}


/* Nav BG */
.navbar-inner {
    background-color: #34495E;
    background-image: none;
    border-color: #243140;
    }
    .navbar-fixed-top .navbar-inner, 
    .navbar-static-top .navbar-inner {
        border-width: 0;
        box-shadow: none;
        }

    
/* Nav Menu */
.nav-collapse, 
.nav-collapse.collapse {
    margin: 0 -5px;
    }

    .nav-collapse ul.nav {
        margin-right: 0;
        }
        .nav-collapse .nav > li > a, 
        .nav-collapse .dropdown-menu a {
            border-radius: 0 !important;
            }
        

/* Nav Link style */
.navbar .nav a { font-size:18px;font-size:1.13rem; }
.navbar .nav > li > a {
    color: #ECF0F1;
    text-shadow: none;
    padding: 18px 15px;
    font-weight: bold;
    }

    /* Nav Link hover */
    .navbar .nav > li > a:focus, 
    .navbar .nav > li > a:hover {
        color: #CCCCCC;
        }
    
    /* Nav Link active */
    .navbar .nav > .active > a, 
    .navbar .nav > .active > a:hover, 
    .navbar .nav > .active > a:focus {
        color: #FFFFFF;
        background-color: #2C3E50;
        box-shadow: none;
        }




/* Dropdown
********************************/

/* Dropdown top toggle caret*/
.navbar .nav li.dropdown > .dropdown-toggle .caret {
    border-bottom-color: #FFFFFF;
    border-top-color: #FFFFFF;
}

/* Dropdown top toggle caret hover */
.navbar .nav li.dropdown > a:hover .caret, 
.navbar .nav li.dropdown > a:focus .caret {
    border-bottom-color: #CCCCCC;
    border-top-color: #CCCCCC;
}

/* Dropdown top toggle active */
.navbar .nav li.dropdown.open > .dropdown-toggle, 
.navbar .nav li.dropdown.active > .dropdown-toggle, 
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
    background-color: #708396;
    color: #FFFFFF;
    }
    /* Caret */
    .navbar .nav li.dropdown.open > .dropdown-toggle .caret, 
    .navbar .nav li.dropdown.active > .dropdown-toggle .caret, 
    .navbar .nav li.dropdown.open.active > .dropdown-toggle .caret {
        border-bottom-color: #FFFFFF;
        border-top-color: #FFFFFF;
        }
            

/* Dropdown BG */
.dropdown-menu {
    background: #708396;
    padding: 0;
    margin: 0;
    border-radius: 0;  
    border: 0;
    box-shadow: none;
    }
    
    /* Dropdown Arrow */
    .navbar .nav > li > .dropdown-menu:before,
    .navbar .nav > li > .dropdown-menu:after { 
        display: none;
        }

    /* Dropdown subheading */        
    .dropdown-menu .nav-header {
        color: #abb4bd;
        text-shadow:none;    
        }
        
    /* Dropdown Divider */    
    .dropdown-menu .divider {
        background-color: #798999;
        border-bottom: 1px solid #5c6c7d;
        }    


/* Dropdown link style */
    .dropdown-menu > li > a {
        color: #ECF0F1;
        padding-top: 10px;
        padding-bottom: 10px; 
        font-weight: bold;   
        }
                          
        /* Dropdown link hover */
        .dropdown-menu > li > a:hover, 
        .dropdown-menu > li > a:focus, 
        .dropdown-submenu:hover > a, 
        .dropdown-submenu:focus > a {
            background-color: #536475;
            background-image: none;
            }




/* Mobile menu
********************************/

/* Button */
.navbar .btn-navbar {
    background-color: #2C3E50;
    background-image: none;
        
    -webkit-transform: translate3d(0, 0, 0); /* iOS boost & fix flicker */
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    }
    .navbar .btn-navbar:hover, 
    .navbar .btn-navbar:focus, 
    .navbar .btn-navbar:active, 
    .navbar .btn-navbar.active, 
    .navbar .btn-navbar.disabled, 
    .navbar .btn-navbar[disabled] {
        background-color: #2C3E50;
    }
        
    /* Icon */
    .navbar .btn-navbar .icon-bar {
        height: 4px;
        margin: 4px 0;
        width: 24px;
        }


/* Mobile menu inside */
@media (max-width:979px) {

.nav-collapse,
.navbar .nav > li > a {
    border: 0;    
}    
    /* Links */
    .nav-collapse .nav > li > a, 
    .nav-collapse .dropdown-menu a {
        color: #FFFFFF !important;
         }     
         .nav-collapse .nav > li > a:hover, 
         .nav-collapse .nav > li > a:focus, 
         .nav-collapse .dropdown-menu a:hover, 
         .nav-collapse .dropdown-menu a:focus {
            background-color: #336699 !important;
            }

        .nav-collapse .nav .nav-header {
            color: #eee !important;
            text-shadow: none;
            } 
}





/* Buttons
********************************/

.btn {
    border-radius: 0 0 0 0;
    background-image: none;
    box-shadow: none;
    border-width: 0;
}




/* List & table
********************************/
ul {
    list-style: disc inside none;
    }
    li {
        line-height: 1.8;
        }


dl {
    margin-bottom: 50px;
    border: 1px solid #ccc;
    }

    dl dt {
        background: #ddd;
        color: #333;        
        font-weight: bold; 
        float: left;
        margin-right: 18px; 
        padding: 7px 10px;  
        width:150px; 
        }    

        dl dd {
            display: block;  
            margin:  0px 0; 
            }

        dl dt, dl dd {
            padding: 7px 10px;
            }


table {

    }
    .table th {
        background: #F9F9F9;
        font-weight: bold;
        padding: 8px 20px;
        width: 24%;
        }
        .table td {
            width: 70%;
            word-break: break-all;
            }
            
    .table th, .table td {
        padding: 8px 20px;
        }





/* Content
********************************/

.page-header {
    text-align: center;
}

.main-content {
    padding-top: 40px;
    padding-bottom: 80px;
}

.narrow-content {
    max-width: 600px; 
    margin: auto !important; 
    float: none !important;
}



/* Page number */
small.page-number {
    text-align: right;
    display: block;
}




/* Footer
********************************/

footer {
    background:;
    color: #999999;
    }
    footer .container {
        border-top: 1px solid #DDDDDD;
        padding: 14px 0 50px;
        }
	    footer a:hover { opacity: 0.6; }


/* Footer menu */
.footer_menu {
    float: left;
    width: 70%;
    }
    .footer_menu_box { 
	    margin: 0; 
	    }
        .footer_menu_box li { 
	        list-style: none; 
	        display: inline-block; 
	        }
            .footer_menu_box li a { 
	            color: #666;
	            text-transform: uppercase; 
	            margin-right: 10px; 
	            }


/* Copyright */
.copyright_box, .back_top {
    line-height: 1rem;
    }
    .copyright {
    	float: left;
    	margin: 14px 0;
        }


/* Maker */
.maker {
    border-left: 1px solid #ccc;
    float: left;
    padding-left: 6px;
    width: 200px;
    margin: 14px 0 0 6px;
    }


/* Scroll to Top Button */
.back_top { 
	width: 200px; 
	float:right; 
	text-align: right; 
	margin: 14px 0;
	}
    .back_top a {
	    color: #999999;
        }


/* SNS Links */
.sns_icons { 
	width: 30%; 
	float: left; 
	}
    .sns_icons_box { float: right; }
    .sns_icons_box li {
         display: inline-block;
         line-height: 20px;
         list-style: none outside none;
         padding: 0 4px;
        }
        .sns_icons_box li a {
            color: #666;
            font-size: 22px; font-size: 1.38rem;
            }

    .sns_icons .facebook:hover { color: #355192; }
    .sns_icons .twitter:hover  { color: #3BBDE8; }
    .sns_icons .linkedin:hover { color: #4393BB; }
    .sns_icons .feed:hover     { color: #FFAE5B; }




/* Pagination
********************************/ 
.pagination ul {
    box-shadow: none;
    }

.pagination ul > li > a {
    border: 0;
    background-color: transparent;
    padding: 4px 7px 1px;
    margin: 0 4px;    
    }
    .pagination ul > li > a:hover,
    .pagination ul > li > a:focus,
    .pagination ul > li > span {
        color: #0088CC;
        }


/* Prev Next */
.pagination .prev a:before {font-family:'FontAwesome';font-size: 2rem;content:"\f100";float: left;}
.pagination .next a:before {font-family:'FontAwesome';font-size: 2rem;content:"\f101";float:right;}

.pagination .prev a:before,
.pagination .next a:before {
    padding: 0px 10px;
    line-height: 14px;    
    }

.pagination .prev a, 
.pagination .next a,
.pagination .prev a:hover, 
.pagination .next a:hover,
.pagination .prev a:focus, 
.pagination .next a:focus {
    margin: 0px 10px;
    background: none;
    }
    

    
/* Pagination: mobile only */
@media (max-width:767px) {

.pagination ul {
    box-shadow: none;
    }   
    .pagination a {
        background: #CCCCCC !important;
        border: 0 none !important;
        border-radius: 100% 100% 100% 100% !important;
        box-shadow: none !important;
        height: 8px !important;
        width: 8px !important;    
        margin: 0 2px;
        padding: 0 !important;
        text-indent: -9999px;
        text-shadow: none !important;
        }
        .pagination ul > .active > a {
            background: #444 !important;
            }
            .pagination .prev a, .pagination .next a {
                background: transparent !important;
                }
                .pagination .prev a:before, .pagination .next a:before {
                    color: #444444;
                    line-height: 5px;
                    position: absolute;
                    text-indent: 0;
                    }
                    .pagination .prev a:before { left: 8%; }
                    .pagination .next a:before { right: 8%; }   
}



/* Style 2
********************************/
.style2 .nav-collapse {
    border-right: 1px solid #415871;
    border-left: 1px solid #243140;
    }    
    .style2 .navbar .nav > li > a {
        border-left: 1px solid #415871;
        border-right: 1px solid #243140;
        }
        .style2 .navbar .nav li.dropdown.open > a {   
            border-left: 1px solid #708396;
            }


/* Style 3 (Diablo)
********************************/

/* Nav menu */
.style3 .navbar-inner {
    background: #5e0b0b;
    background-image: url("../img/bg_style3_navbar.jpg");
    background-repeat: repeat-x;
    }


    /* Nav link */
    .style3 .navbar-inner a {
        color: #DDB292 !important;
        text-shadow: 0px 0px 3px #000 !important;
        
        }
        /* hover */
        .style3 .navbar-inner a:hover { color: #dfd4c1 !important; }
        
        /*active */
        .style3 .navbar .nav > .active > a, 
        .style3 .navbar .nav > .active > a:hover, 
        .style3 .navbar .nav > .active > a:focus {
            color: #FFFFFF;
            background-color: #320606;
            }


        /* Dropdown */
        .style3 .dropdown-menu {
             background: #2b0909;
             background-image: url("../img/bg_style3_navbar2.jpg");     
             margin: 0;
             border-radius: 0;
            }
            .style3 .navbar-inner .dropdown-toggle .caret {
                border-bottom-color: #DDB292 !important;
                border-top-color: #DDB292 !important;
                }

            .style3 .dropdown-menu .nav-header {
                color: #774848;
                text-shadow:none;    
                }
    
            .style3 .dropdown-menu .divider {
                background: #000000;
                border-bottom: 1px solid #502323;
                }


            /* Dropdown toggle active */
            .style3 .navbar .nav li.dropdown.open > .dropdown-toggle, 
            .style3 .navbar .nav li.dropdown.active > .dropdown-toggle, 
            .style3 .navbar .nav li.dropdown.open.active > .dropdown-toggle {
                background-color: #320606;
                color: #FFFFFF;
                }

            /* Dropdown hover */
            .style3 .dropdown-menu > li > a:hover, 
            .style3 .dropdown-menu > li > a:focus, 
            .style3 .dropdown-submenu:hover > a, 
            .style3 .dropdown-submenu:focus > a {
                background-color: #500000;
                background-image: none;
            }


/* Mobile menu */
.style3 .navbar .btn-navbar {
    background-color: #320606;
    }
    .style3 .navbar .btn-navbar .icon-bar {
        background-color: #DDB292;
        }

@media (max-width:979px) { 
    .style3 .nav-collapse .nav > li > a:hover, 
    .style3 .nav-collapse .nav > li > a:focus, 
    .style3 .nav-collapse .dropdown-menu a:hover {
        background-color: #500000 !important;
    }        
    .style3 .nav-collapse .dropdown-menu {
        background: transparent;
    }
}



/* Style3 Banner */
.style3 .page-header {
    background-position: top center !important;
    background-size: cover !important;
    border-bottom: 14px solid #000000;
    height: 270px;
    left: 0;
    margin: 0;
    padding: 180px 0 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
    text-shadow: 0 2px 30px #000,0 2px 30px #000,0 2px 30px #000,0 2px 30px #000,0 2px 30px #000,0 0 10px #000,0 0 10px #000, 0 0 4px #000,0 0 4px #000,0 0 4px #000, 0 0 2px #000,0 0 2px #000;    
    z-index:-1;
    }
    .style3 .page-header h1 {
        font-size: 48px;font-size: 3rem; color: #ddb292;
        }
        .style3 .page-header small {
            color: #d79a72;
            }
        .style3 .page-header .author {
            color: #AD835A;
            }
        
    /* Page Header BG */
    .style3 .page-header.Demonhunter { background: url("../img/bg_diablo1.jpg"); }
    .style3 .page-header.Barbarian   { background: url("../img/bg_diablo2.jpg"); }
    .style3 .page-header.Monk        { background: url("../img/bg_diablo3.jpg"); }
    .style3 .page-header.Witchdoctor { background: url("../img/bg_diablo4.jpg"); }        
    .style3 .page-header.Wizard      { background: url("../img/bg_diablo5.jpg"); }        

    .style3 .Barbarian .section-title {
        text-align: center;
        padding: 20px 0;
    }




/* Style3 Footer */
    .style3 .footer {
        background-image:;
        background: #000;
        background-size: 128px auto;
        color: #999999;
        }
        .style3 .footer .container {
            border-top: 0
            }




/* Style3 Content */
body.style3 {
    background-image: none;
}
.style3 .span12 {
    margin-top: 360px;
    padding-top: 34px;
}


/* Style3 Desktop only */
@media (min-width:1025px) {

    /* Content BG */
    body.style3 {
        background-image: url("../img/bg_style3_tile.jpg");
        box-shadow: 0 0 250px #000000 inset;
    }
    
    .style3 .span12 {
        background-image: url("../img/bg_style3_paper_body.png");
        background-size: contain;
        margin-top: 360px;
        padding-top: 34px;
    }
       
    .style3 .span12:before {
        background-image: url("../img/bg_style3_paper_top.png");
        background-repeat: no-repeat;        
        background-size: contain;
        content: " ";
        display: block;
        height: 63px;
        margin-top: -80px;
        width: 100%;
    }
    
    .style3 .span12:after {
        background-image: url("../img/bg_style3_paper_bottom.png");
        background-repeat: no-repeat;
        background-size: contain;
        content: " ";
        display: block;
        height: 192px;
        margin-bottom: -110px;
        width: 100%;
    }

    /* Content style */
    .style3 .page-header {
        box-shadow: 0 0 200px #000;    
    }
    
    .style3 .footer {
        background-image: url("../img/bg_style3_footer.jpg");
        border-top: 1px solid #333;
        padding-top: 50px;
        text-shadow: 0 1px 4px #000;
    }
    
}


/* Style3 iPad only */
@media (min-width:768px) and (max-width:980px) {
    .main-content {
        margin-top: 86px;
    }
}    

@media (min-width:768px) and (max-width:1024px) {
    .navbar-fixed-top, .navbar-fixed-bottom {
        position: fixed !important;
        }
        .navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
            margin-left: 0;
            margin-right: 0;
        }
    
    body.style3 {
        background-image: url("../img/bg_style3_paper_body2.jpg") !important;
        background-size: contain;
    }
    
    .style3 .footer {
        background-image: url("../img/bg_style3_footer.jpg");
        border-top: 2px solid #777777;
        padding-top: 10px;
    }
    
    .style3 .pagination {
        margin: 60px 0 0px !important;
    }

}




/* Style3: Page number */
.style3 .Demonhunter small.page-number:after { content: " / 11"; }
.style3 .Barbarian small.page-number:after   { content: " / 7"; }
.style3 .Monk small.page-number:after        { content: " / 8"; }
.style3 .Witchdoctor small.page-number:after { content: " / 11"; }
.style3 .Wizard small.page-number:after      { content: " / 11"; }




/* Style3 Pagination */

.style3 .pagination {
    margin: 60px 0 0px;
    }
     
.style3 .pagination ul {
    box-shadow: none;
    }   
    .style3 .pagination li {
         margin: 0px ! important;
         padding: 0px ! important;
        }
        .style3 .pagination a {
             background: #721313;
             box-shadow: 0 0 4px #000000 inset;
             border-radius: 0px;
             border: 2px solid #4e0f10;
             margin: 0 2px !important;
             padding: 0px 0px 0px 0px;
             color: #DDB292; 
             width: 24px;
             height: 24px;
             line-height: 26px;
             font-size: 14px;
             text-shadow: 1px 1px 1px #000;
            }
            /* hover */
            .style3 .pagination ul > li > a:hover, 
            .style3 .pagination ul > li > a:focus, 
            .style3 .pagination ul > .active > a, 
            .style3 .pagination ul > .active > span {
                background-color: #aa0000; 
                opacity: 0.8;
                }


/* Style3 Pagination: prev, next */

.style3 .pagination .prev a:before, 
.style3 .pagination .next a:before {
    line-height: 1em;
    margin: 0;
    padding: 0;
}

.style3 .pagination .prev a:before {font-family:'FontAwesome';font-size: 2rem;content:"\f060";float: left;}
.style3 .pagination .next a:before {font-family:'FontAwesome';font-size: 2rem;content:"\f061";float:right;}

.style3 .pagination .prev a, 
.style3 .pagination .next a,
.style3 .pagination .prev a:hover, 
.style3 .pagination .next a:hover,
.style3 .pagination .prev a:focus, 
.style3 .pagination .next a:focus {
    background: none;
    border: 0 !important;
    box-shadow: none;
    height: 34px !important;
    line-height: 34px !important;
    margin: -5px 10px !important;
    width: 34px !important;
    color:#4E0F10;
    text-shadow: none;
    }
    
@media (max-width:767px) {
    .style3 .pagination .prev a:before, 
    .style3 .pagination .next a:before {
        line-height: 18px !important;
        }
}





/* =============================================================================
   EDITOR
   ============================================================================= */
  #example-one { margin-bottom: 10px; }
  [contenteditable="true"] { padding: 10px; outline: 2px dashed #CCC; }
  [contenteditable="true"]:hover { outline: 2px dashed #0090D2; }


body style {
    background: #222222;
    color: #E6CE9D;
    display: block;
    font-size: 13px;
    line-height:1.8; 
    font-family: Monaco,Mono-Space;
    height: 160px;
    margin: 0 auto 43px !important;
    padding: 20px;
    border: 8px solid #CCCCCC;

    white-space: pre;
    overflow: scroll;
} 


.toggle:after {
    background: #8FCF44;
    border-radius: 4px 4px 4px 4px;
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 10px 0 0 5px;
    padding: 0;
    position: absolute;
    
  -webkit-transition: all 200ms ease;
	 -moz-transition: all 200ms ease;
	  -ms-transition: all 200ms ease;
	   -o-transition: all 200ms ease;
	      transition: all 200ms ease;     
}

.toggle.collapsed:after {
    background: transparent;
}




