@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic);
/*@import url(http://fonts.googleapis.com/css?family=Arvo:400);*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,400,300,700,800);
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumpenscript.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@font-face { font-family:"Diablo"; font-weight:normal;
	src:url("../font/diablo.eot");
	src:local("Diablo"), url("../font/diablo.woff") format("woff");
}


/* FONT SET
**************************************************************/

/* Default */
body { 
    font-family: "Apple SD Gothic Neo",Applegothic,"Malgun Gothic",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif; 
    }
    h1, h2, h3, h4, h5, h6, .btn, .navbar, .brand { font-family: "Apple SD Gothic Neo",Applegothic,"Malgun Gothic",Dotum,"Helvetica Neue",Helvetica,Arial,sans-serif; }

/* Legacy font */
.legacy1 { font-family: Applegothic !important; }
.legacy2 { font-family: Applemyungjo !important; }


body {
    font-size: rem;
    line-height: 1.6em;
    color: #333;
}

.main-content p {
    padding: 0.5em 0;
}


.dropcap {
    color: #000000;
    float: left;
    font-size: 2.88rem;
    font-weight: bold;
    padding-left: 0;
    padding-right: 8px;
    padding-top: 0;
    line-height: 1.1;
    }
.style3 .dropcap { line-height: 1; padding-right: 3px; }
small { color: #888; }



/* Additional Font Style */
.pen, .pen p { font-family: NanumPen,"Nanum Pen Script" !important; }
.brush, .brush p { font-family: NanumBrush,"Nanum Brush Script" !important; }
.book, .book p { 
     font-family: NanumMyeongjo,"Nanum Myeongjo","Apple SD Gothic Neo",Applemyungjo,"Malgun Gothic",Gulim,Georgia,"Times New Roman",Times,serif; 
     }

/* Anti-aliased font */
.antialiased { -webkit-font-smoothing: antialiased; }

/* Better helvetica */    
.better-helvetica {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 300;
}    



